umschriftpy/__pycache__/__init__.cpython-311.pyc
umschriftpy/__pycache__/constants.cpython-311.pyc
umschriftpy/__pycache__/dicts.cpython-311.pyc
umschriftpy/__pycache__/pyUmschrift.cpython-311.pyc
umschriftpy/__pycache__/umschriftpy.cpython-311.pyc
umschriftpy/dicts.py
umschriftpy/constants.py
example.py
__pycache__/test_pytest.cpython-311-pytest-7.4.3.pyc
.vscode/settings.json
.gitignore
test_pytest.py
