README.md
umschriftpy/__pycache__/__init__.cpython-311.pyc
umschriftpy/__pycache__/constants.cpython-311.pyc
umschriftpy/__pycache__/dicts.cpython-311.pyc
umschriftpy/__pycache__/pyUmschrift.cpython-311.pyc
umschriftpy/__pycache__/umschriftpy.cpython-311.pyc
umschriftpy/dicts.py
umschriftpy/constants.py
example.py
